body {
    background-color: #FFCB81;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#coffeeImage {
    background-image: url('coffeeSpill.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vw; /* Makes it scale with the screen */
    max-height: 400px; /* Prevents it from getting too large */
    width: 50vw;
    max-width: 400px;
}
